<h2 class="animated fade fadeIn">{{ title }}</h2>

<hr>


<div class="row animated fade fadeIn ">
    <div class="col-md-8 space-elements">
        <div class="input-group">

            <input [(ngModel)]="term" (keyup)="search()" type="text" class="form-control" placeholder="Buscar..." aria-label="Input group example" aria-describedby="btnGroupAddon">
            <div class="input-group-prepend">
                <combo all="true" name="idCategory" [url]="modelCategory" labelField="name" nameCollection="categories" [(ngModel)]="idCategory"></combo>
                <button (click)="search()" class="btn btn-outline-secondary" id="btnGroupAddon">Buscar</button>
            </div>
        </div>
    </div>
    <div *ngIf="userTemp.role.match('ADMINISTRADOR')" class="col-md-4 text-right space-elements">
        <a [routerLink]="['/nuevaNorma']" class="btn btn-success">
           Nuevo Documento
        </a>
    </div>

</div>



<table class="table animated fade fadeIn">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Versión</th>
            <th class="text-center" scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of collection; let i = index">
            <th scope="row"> {{ i+1 + p.numberPage }} </th>
            <td>{{ c.name }}</td>
            <td>{{c.category['name'] }} </td>
            <td>{{ c.version }}</td>


            <td class="text-center">
                <button class="btn btn-secondary" (click)="download(i)"><i class="fas fa-download"></i></button>
                <button *ngIf="userTemp.role.match('ADMINISTRADOR') || userTemp.role.match('CONSULTA') " class="btn btn-secondary" [routerLink]="['/editarNorma',c._id]"><i class="fas fa-edit"></i></button>
                <button *ngIf="userTemp.role.match('ADMINISTRADOR') || userTemp.role.match('CONSULTA') " class="btn btn-secondary" (click)="delete(i) "><i class="far fa-trash-alt"></i></button>
            </td>
        </tr>

    </tbody>
</table>

<pagination #p [(ngModel)]="collection" [url]="model" [term]="term" collectionName="manuals" [totalRecords]="totalRecords"></pagination>