<h2>Categorías</h2>

<table class="table">
    <thead class="bg-santander">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Tibco</td>
            <td>
                <button class="btn btn-outline-info">Ver</button>
                <button class="btn btn-outline-secondary">Editar</button>
                <button class="btn btn-outline-danger">Eliminar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>DataPower</td>
            <td>
                <button class="btn btn-outline-info">Ver</button>
                <button class="btn btn-outline-secondary">Editar</button>
                <button class="btn btn-outline-danger">Eliminar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>API</td>
            <td>
                <button class="btn btn-outline-info">Ver</button>
                <button class="btn btn-outline-secondary">Editar</button>
                <button class="btn btn-outline-danger">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>