<h2>{{ title }}</h2>

<hr>


<div class="row ">
    <div class="col-md-6 space-elements">
        <div class="input-group">

            <input [(ngModel)]="term" (keyup)="search()" type="text" class="form-control" placeholder="Buscar..." aria-label="Input group example" aria-describedby="btnGroupAddon">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" id="btnGroupAddon">Buscar</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-right space-elements">
        <a [routerLink]="['/newNotice']" class="btn btn-success">
           Nueva Noticia
        </a>
    </div>

</div>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th class="text-center" scope="col">Información</th>
            <th class="text-center" scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of collection; let i = index">
            <td>
                <P><strong>{{c.title}}</strong></P>
                <P>{{c.description}}</P>
                <P class="blockquote-footer">Publicación: {{c.creationDate | date: 'dd/MM/yyyy'}}</P>
            </td>
            <td class="text-center">
                <table>
                    <tr>
                        <td><a class="btn btn-secondary" [routerLink]="[ '/editNotice', c._id ]"><i class="fas fa-edit"></i></a></td>
                        <td><button class="btn btn-secondary" (click)="delete(i)"> <i class="far fa-trash-alt"></i> </button></td>
                    </tr>
                </table>
            </td>
        </tr>

    </tbody>
</table>

<pagination #p [(ngModel)]="collection" [url]="model" [term]="term" collectionName="notices" [totalRecords]="totalRecords"></pagination>