
<h1>{{ title }}</h1>
<hr>
<form [formGroup]="forma">

    <div class="form-group">
        <label>Nombre:</label>
        <input class="form-control" formControlName="name" />
    </div>

    <div class="form-group">
      <label>Versión:</label>
      <input class="form-control" formControlName="version" />
    </div>

    <div class="form-group">
      <label>Archivo:</label>
      <input class="form-control" formControlName="linkFile" />
    </div>

    <div class="form-group">
        <label>Descripción:</label>
        <textarea class="form-control" rows="3" formControlName="description"></textarea>
    </div>

</form>