<h1>
    {{ title }}</h1>
<hr>
<form [formGroup]="forma">

    <div class="form-group">
        <label>Nombre:</label>
        <input class="form-control" formControlName="name" />
    </div>


    <div class="form-group">
        <label>Categoría:</label>
        <combo [url]="url" labelField="name" nameCollection="categories" formControlName="category"></combo>
    </div>

    <div class="form-group">
        <label>Archivo:</label>
        <input class="form-control" #ff type="file" formControlName="linkFile" (change)="registerFiles($event)" />

    </div>

    <div class="form-group">
        <label>Descripción:</label>
        <textarea class="form-control" rows="3" formControlName="description"></textarea>
    </div>

    <button (click)="getObject()"> ver objeto </button>

</form>