<!-- <div class="form-group" class="space-elements">
  <label> {{ title }} </label> -->

<!-- <select #combo class="custom-select"  name="combo" (change)="onChange($event.target.value)" ng-model = "itemId" >  -->
<select #combo class="custom-select" name="combo" (change)="onChange( $event.target )" [(ngModel)]="itemId"> 
      <option *ngFor="let item of collection; let i = index" [ngValue]="item">{{item['output']}}  </option>
      <!-- <option *ngFor="let item of collection; let i = index" [value]="item._id">{{item['output']}}  </option> -->
      
    </select>

<!-- </div>  -->